__pycache__/
*.pyc
*.bak
data_issues.csv
data_issues.json
*.db
data.json.bak
tarjima/
tarjima_uchun.json
tarjimasiz_hadislar.txt
data.json.bak*
apk_extract/
silsila_index.json
silsila_candidates.json
